<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>lth.darkmode.hook</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Users/lth/dotfiles/bin</string>
	</dict>
	<key>WatchPaths</key>
	<array>
		<string>/Users/lth/Library/Preferences/.GlobalPreferences.plist</string>
	</array>
	<!-- <key>StandardOutPath</key> -->
	<!-- <string>/Users/lth/dotfiles/bin/test.stdout</string> -->
	<!-- <key>StandardErrorPath</key> -->
	<!-- <string>/Users/lth/dotfiles/bin/test.stderr</string> -->
	<key>ProgramArguments</key>
	<array>
		<string>/bin/sh</string>
		<string>/Users/lth/dotfiles/bin/darkmode_toggle.sh</string>
	</array>
</dict>
</plist>
